.landingPage {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	.lpContent {
		width: 50%;
		height: 100%;
		background-color: #5fc9f0;
		color: #ffdff0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h1 {
			font-size: 3.67em;
		}
		p {
			max-width: 50%;
			text-align: center;
			font-size: 1.3em;
		}
	}
}
