.app {
  width: 100vw;
  height: 100vh;
  background-color: #000; }
  .app .content {
    width: 90vw;
    height: 80vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid #5fc9f0; }
