.app {
	width: 100vw;
	height: 100vh;
	background-color: #5fc9f0;
	.content {
		box-sizing: border-box;
		width: 100vw;
		height: 100vh;
		border: 5vw solid #252525;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
