.content {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  border: 5vw solid #252525;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden; }
  .content .howToPage,
  .content .loginPage,
  .content .registerPage {
    height: 100%;
    width: 100%; }
