.content {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  border: 5vw solid #252525;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  .howToPage,
  .loginPage,
  .registerPage {
    height: 100%;
    width: 100%;
  }
}

// .page-slide-enter.page-slide-enter-active {
//   .htContent {
//     transition-delay: 10s;
//     opacity: 1;
//     transition: all 10s linear;
//   }
//   .loginContent {
//     opacity: 1;
//     transition: all 10s ease-in;
//     transition-delay: 10s;
//   }
//   .lpContent {
//     opacity: 1;
//     transition: all 10s ease-in;
//     transition-delay: 10s;
//   }
// }

// .page-slide-exit {
//   .lpContent {
//     transform: translateX(100%);
//   }
//   .htContent {
//     transform: translateX(100%);
//   }
// }

// .page-slide-exit.page-slide-exit-active {
//   .lpContent {
//     transform: translateX(100%);
//     transition: all 0.3s ease-in-out;
//   }
//   .htContent {
//     transform: translateX(0%);
//     transition: all 0.3s ease-in-out;
//   }
// }

// //  .page-slide-enter
// //  .page-slide-enter-active {}
// //  .page-slide-enter-done
// // .page-slide-exit {
// //   .isLeft {
// //     transform: translateX(100%) !important;
// //     transition: all 0.3s ease-in-out;
// //   }
// // }
// // .page-slide-exit.page-slide-exit-active {
// //   .isLeft {
// //     transform: translateX(100%) !important;
// //     transition: all 0.3s ease-in-out;
// //   }
// // }

// .page-slide-enter {
//   .boxSlider {
//     opacity: 0;
//   }
// }
